@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Super'; 
    src: url('/fonts/Super-Creamy.woff') format('woff'); 
}

@font-face {
    font-family: 'Story'; 
    src: url('/fonts/Info-Story.woff') format('woff'); 
}

.celeste {
    background-color: #85C1E9;
}
.rosado {
    background-color: #ED1566;
}
.amarillo {
    background-color: #FFF65A;
}
.verde {
    background-color: #46C334;
}
.morado {
    background-color: #A74DB5;
}
  
.super {
    font-family: 'Super', sans-serif;
}

.story {
    font-family: 'Story', sans-serif;
}
