@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Super'; 
    src: url('/fonts/Super-Creamy.woff') format('woff'); 
}

@font-face {
    font-family: 'Wonder'; 
    src: url('/fonts/Wondercity.woff') format('woff'); 
}

@font-face {
    font-family: 'Yagora'; 
    src: url('/fonts/Yagora.woff') format('woff'); 
}

.super {
    font-family: 'Super', sans-serif;
}

.wonder {
    font-family: 'Wonder', sans-serif;
}

.yagora {
    font-family: 'Yagora', sans-serif;
}


.celeste {
    background-color: #85C1E9;
}
.rosado {
    background-color: #ED1566;
}
.amarillo {
    background-color: #ebe238;
}
.verde {
    background-color: #46C334;
}
.morado {
    background-color: #A74DB5;
}
.azul{
    background-color: #094FC2;
}
.anaranjado{
    background-color: #ED9726;
}

.text-rosado{
    color: #ED1566;
}
.text-verde{
    color: #46C334;
}
.text-azul{
    color:  #094FC2;
}
.text-naranja{
    color: #ED9726;
}
.text-morado{
    color: #A74DB5;
}