@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Super'; 
    src: url('/fonts/Super-Creamy.woff') format('woff'); 
}

@font-face {
    font-family: 'Wonder'; 
    src: url('/fonts/Wondercity.woff') format('woff'); 
}

@font-face {
    font-family: 'Yagora'; 
    src: url('/fonts/Yagora.woff') format('woff'); 
}

.super {
    font-family: 'Super', sans-serif;
}

.wonder {
    font-family: 'Wonder', sans-serif;
}

.yagora {
    font-family: 'Yagora', sans-serif;
}


.celeste {
    background-color: #85C1E9;
}
.rosado {
    background-color: #ED1566;
}
.rojo {
    background-color:darkred;
}
.amarillo {
    background-color: #FFF65A;
}
.verde {
    background-color: #46C334;
}
.morado {
    background-color: #A74DB5;
}
.azul{
    background-color: rgb(59 130 246);
}
.anaranjado{
    background-color: rgb(237, 151, 38);
}
.text-rosado{
    color: #ED1566;
}
.text-verde{
    color: #46C334;
}
.text-rojo{
    color: darkred
}

.text-azul{
    color:  rgb(59 130 246);
}
